.live-search-result {
  width: 100%;
  display: block;
}

.live-search-result-element {
  width: 100%;
  display: block;
  padding: 0.5em;
  padding-left: 1em;
  margin-top: 0.5em;
  font-size: 0.9em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #3498db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.live-search-result-element-top {
  margin-top: 0.5em;
}

.live-search-result-element-bottom {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.live-search-box {
  width: 100%;
  display: block;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #3498db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
